<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
	<display-name>Archetype Created Web Application</display-name>

	<servlet>
		<servlet-name>Test</servlet-name>
		<servlet-class>routes.Test</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>Test</servlet-name>
		<url-pattern>/test</url-pattern>
	</servlet-mapping>

	<!-- Routes -->
	<!-- Login -->
	<servlet>
		<servlet-name>login</servlet-name>
		<jsp-file>/views/login.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>login</servlet-name>
		<url-pattern>/iniciar-sesion/</url-pattern>
	</servlet-mapping>
	
	<!-- Index loggued -->
	<servlet>
		<servlet-name>search</servlet-name>
		<jsp-file>/views/main.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>search</servlet-name>
		<url-pattern>/buscar/</url-pattern>
	</servlet-mapping>

	<!-- Sign up -->
	<servlet>
		<servlet-name>signUp</servlet-name>
		<jsp-file>/views/sign-up.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>signUp</servlet-name>
		<url-pattern>/registro/</url-pattern>
	</servlet-mapping>

	<!-- Logout -->
	<servlet>
		<servlet-name>Logout</servlet-name>
		<jsp-file>/views/logout.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>Logout</servlet-name>
		<url-pattern>/salir/</url-pattern>
	</servlet-mapping>
	
	<!-- Crear repositorio -->
	<servlet>
		<servlet-name>crearRepo</servlet-name>
		<jsp-file>/views/repository/create.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>crearRepo</servlet-name>
		<url-pattern>/repositorio/crear/</url-pattern>
	</servlet-mapping>
	
	<!-- Ver repositorio -->
	<servlet>
		<servlet-name>verRepo</servlet-name>
		<jsp-file>/views/repository/view.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>verRepo</servlet-name>
		<url-pattern>/repositorio/ver/</url-pattern>
	</servlet-mapping>
	
	<!-- Mi perfil -->
	<servlet>
		<servlet-name>myProfile</servlet-name>
		<jsp-file>/views/user/profile.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>myProfile</servlet-name>
		<url-pattern>/perfil/</url-pattern>
	</servlet-mapping>
	
	<!-- Catálogos -->
	<servlet>
		<servlet-name>Catalogs</servlet-name>
		<jsp-file>/views/catalog/crud.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>Catalogs</servlet-name>
		<url-pattern>/catalogos/</url-pattern>
	</servlet-mapping>
	
	<!-- APIS -->
	<servlet>
		<servlet-name>Jersey REST Service</servlet-name>
		<servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
		<!-- Register resources and providers under com.vogella.jersey.first package. -->
		<init-param>
			<param-name>jersey.config.server.provider.packages</param-name>
			<param-value>apis</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>Jersey REST Service</servlet-name>
		<url-pattern>/api/*</url-pattern>
	</servlet-mapping>
</web-app>
